@import url("https://fonts.googleapis.com/css?family=Fira+Sans");
@import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,400,600|Tulpen+One&display=swap");
@import 'https://fonts.googleapis.com/css?family=Do+Hyeon';
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lora", "Helvetica Neue", sans-serif;
}

.wrapper {
  width: 100%;
  background: rgb(239, 237, 237) 45.8%;
}

:root {
  --global-text-color-primary: #f5f5f7;
  --global-navbar-color-primary: black;
  --global-navbar-gray-alpha: rgba(94, 90, 90, 0.692);
}

@font-face {
  font-family: "Lora";
  font-weight: 400;
  src: url("../fonts/RobotoSlab-VariableFont_wght.ttf");
}
/* I might question legality of this shit */
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}
#navimg {
  width: 200px;
  height: 60px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: -6%;
  left: 45%;
}

#navimg:active {
  opacity: 0.8;
  cursor: pointer;
}

.mobile_navbar_container {
  width: 100%;
  position: fixed;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--global-navbar-color-primary);
  height: 3rem;
}

.mobile_navbar_list {
  padding: 0 2rem;
  max-width: 62rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  list-style: none;
}

.mobile_navbar_list a {
  text-decoration: none;
  color: var(--global-text-color-primary);
  opacity: 0.78;
  transition: 100ms ease-in-out opacity;
}

.menu_button {
  cursor: pointer;
}

.mobile_navbar_list a:hover {
  opacity: 1;
}

@media screen and (max-width: 850px) {
  .navbar_container {
    display: none;
  }
}
@media screen and (min-width: 850px) {
  .mobile_navbar_container {
    display: none;
  }
  .searchBar_Container {
    visibility: hidden;
  }
  .navbar_container {
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-around;
    background-color: white;
    box-shadow: 2px 2px 10px 1px;
    height: 4rem;
    font-size: 0.8rem;
  }
  .nav_list {
    max-width: 62rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    list-style: none;
  }
  .nav_list a {
    position: relative;
    text-decoration: none;
    color: black;
    overflow: hidden;
    transition: 100ms ease-in-out opacity;
    font-size: 16px;
  }
  @-webkit-keyframes fadeIn {
    0% {
      background-color: #0f9bc0;
    }
    100% {
      background-color: #b90000;
    }
  }
  @keyframes fadeIn {
    0% {
      background-color: #0f9bc0;
    }
    100% {
      background-color: #b90000;
    }
  }
  .nav_list a:hover::after {
    content: "";
    position: absolute;
    background-color: rgb(234, 225, 120);
    top: -5px;
    left: -8px;
    border-radius: 20px;
    padding-inline: 20px;
    width: 130%;
    height: 35px;
    z-index: -1;
  }
}
.mobile_nav_items:first-child {
  height: 20px;
  width: 20px;
}

.menu_button {
  height: 20px;
  width: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.menu_button div {
  opacity: 0.78;
  height: 1px;
  width: 18px;
  background-color: white;
  transition: 200ms ease-in-out all;
}

.open .line1 {
  /*transform: rotate(45deg) translate(10px, 0px);*/
  transform: translateY(5px) rotate(-45deg);
}

#sign-out-btn {
  display: none;
}

.open .line2 {
  /*transform: rotate(-45deg) translate(7px, 3px);*/
  transform: translateY(-5px) rotate(45deg);
}

.expansionMenu {
  background-color: var(--global-navbar-color-primary);
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0.5%;
  width: 100%;
  height: 0%;
  transition: 400ms ease-in-out height;
  z-index: 9999;
}

.searchBar_Container {
  display: block;
  position: fixed;
  z-index: 4;
  top: 48px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 0.2rem;
}

#signin-btn,
#sign-out-btn {
  color: rgb(0, 0, 0);
  font-size: 35px;
  padding-top: 5px;
  padding-right: 10px;
  cursor: pointer;
}

#signin-btn:hover,
#sign-out-btn:hover {
  opacity: 1;
}

.searchBar_Container {
  background-color: black;
  width: 100%;
  border-bottom: 1px solid var(--global-navbar-gray-alpha);
}

.searchFormWrapper {
  padding: 0.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.4);
  border-radius: 6px;
  height: 2.2rem;
}

.searchFormWrapper button svg {
  opacity: 0.4;
}

.searchInput {
  font-family: "San Francisco";
  font-weight: bold;
  font-size: 1rem;
  padding: 0 0.4rem;
  background-color: transparent;
  border: none;
  width: 80vw;
  color: white;
}

.searchInput:focus {
  outline: none;
}

.searchSubmitButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.searchResetButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.mobile_item_menu {
  display: flex;
  z-index: 3;
  flex-direction: column;
  padding: 0 2rem;
  gap: 1.2rem;
  overflow-y: auto;
  position: absolute;
  top: 36px;
  right: 0;
  left: 0;
  bottom: 0;
}

.mobile_item_menu li {
  border-bottom: 1px solid var(--global-navbar-gray-alpha);
}

.mobile_item_menu li a {
  text-decoration: none;
  color: var(--global-text-color-primary);
  font-family: "San Francisco", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.1rem;
}

.main-container {
  padding-top: 90px;
  width: 100%;
}
.main-container h1 {
  text-align: center;
  padding-bottom: 20px;
}

.dashboard-main-container {
  padding-top: 100px;
  text-align: center;
}
.dashboard-main-container a {
  font-size: 18px;
  font-weight: bold;
  margin-right: 20px;
}

.dashboard-main {
  position: relative;
}

#title {
  text-align: center;
  color: white;
  font-family: Lucida Sans Unicode, sans-serif;
}

#description {
  text-align: center;
  color: white;
  font-style: italic;
  font-family: Lucida Sans Unicode, sans-serif;
}

#delete,
#edit-book {
  cursor: pointer;
}

#dasboard-table {
  width: 75%;
  padding-top: 80px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 90px;
}
#dasboard-table h2 {
  padding-bottom: 30px;
}
#dasboard-table table {
  border-color: transparent;
  margin: 70px;
  overflow-x: auto;
}
#dasboard-table tr {
  background: rgb(219, 216, 216);
}

#dashtable-add-btn {
  padding: 10px 30px;
  border-radius: 10px;
  border: none;
  background-color: rgb(210, 210, 210);
  cursor: pointer;
}

#dashtable-add-btn:active {
  background-color: #c0bbbb;
}

#dashboarduser-table {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  margin-top: 20px;
  padding-bottom: 90px;
}
#dashboarduser-table h2 {
  padding-bottom: 30px;
}
#dashboarduser-table a {
  color: black;
}
#dashboarduser-table table {
  overflow: scroll;
}

#container {
  background: linear-gradient(90deg, rgb(236, 236, 236) 0%, rgb(212, 212, 212) 0%, rgb(118, 123, 124) 51%, rgb(210, 210, 210) 85%);
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding: 5% 5% 5%;
  margin: auto;
  position: fixed;
  top: 55%;
  left: -150%;
  transform: translate(-50%, -50%);
  transition: left 0.5s;
}
#container button {
  padding: 10px 30px;
  border-radius: 10px;
  border: none;
}

#auth-form-closer {
  cursor: pointer;
  position: absolute;
  font-size: 30px;
  transition: transform 0.4s;
}

#auth-form-closer:active {
  transform: rotate(180deg);
}

#auth-modal-img {
  width: 210px;
  height: 290px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  left: -2%;
  top: 13%;
  border-radius: 20px 0;
  border: 1px solid #eee;
}

#edit-auth-form-closer {
  cursor: pointer;
  position: absolute;
  font-size: 30px;
  transition: transform 0.4s;
}

#edit-auth-form-closer:active {
  transform: rotate(180deg);
}

.dashboard-books-main-container {
  padding-top: 100px;
}
.dashboard-books-main-container a {
  font-size: 18px;
  font-weight: bold;
  margin-right: 20px;
}

#dashboardbooks-table {
  margin: 0 auto;
  padding-bottom: 90px;
}
#dashboardbooks-table td {
  padding: 5px;
  background-color: rgb(203, 203, 203);
}
#dashboardbooks-table h2 {
  margin-bottom: 40px;
}
#dashboardbooks-table h2 a {
  color: black;
  font-size: 30px;
  padding-bottom: 20px;
}
#dashboardbooks-table table {
  border-color: transparent;
}

#dashtable-add-book-btn {
  padding: 10px 30px;
  border-radius: 10px;
  border: none;
  background-color: rgb(210, 210, 210);
  cursor: pointer;
  margin-top: 20px;
}

#dashtable-add-book-btn:active {
  background-color: #c0bbbb;
}

#input-design {
  display: inline-block;
  width: 100%;
}
#input-design input {
  border-radius: 10px;
  padding: 10px;
}
#input-design textarea {
  border-radius: 10px;
  padding: 30px;
}

label {
  color: white;
  font-family: Lucida Sans Unicode, sans-serif;
  font-size: 15px;
}

.small {
  color: #C8C8C8;
  font-size: 12px;
}

.input-move {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  width: 90%;
  padding-bottom: 1%;
  padding-top: 1%;
  margin-top: 3%;
}

#edit-container {
  background: linear-gradient(90deg, rgb(236, 236, 236) 0%, rgb(212, 212, 212) 0%, rgb(118, 123, 124) 51%, rgb(210, 210, 210) 85%);
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding: 5% 5% 5%;
  margin: auto;
  position: fixed;
  top: 50%;
  left: -150%;
  transform: translate(-50%, -50%);
  transition: left 0.5s;
}
#edit-container button {
  padding: 10px 30px;
  border-radius: 10px;
  border: none;
}
#edit-container input {
  border-radius: 10px;
  padding: 10px;
}
#edit-container textarea {
  border-radius: 10px;
  padding: 30px;
}

#editAuth {
  cursor: pointer;
}

#auth-form-closer {
  position: absolute;
  top: 50px;
  right: 70px;
  color: white;
}

#edit-auth-form-closer {
  position: absolute;
  top: 50px;
  right: 70px;
  color: white;
}

.fa-solid {
  color: white;
}

#book-container {
  padding-top: 200px;
  background: linear-gradient(90deg, rgb(236, 236, 236) 0%, rgb(212, 212, 212) 0%, rgb(118, 123, 124) 51%, rgb(210, 210, 210) 85%);
  text-align: center;
  width: 100%;
  border-radius: 10px;
  padding: 2% 2% 2%;
  position: fixed;
  top: 52%;
  left: -150%;
  display: flex;
  gap: 10px;
  flex-direction: column;
  transform: translate(-50%, -50%);
  transition: left 0.5s;
}
#book-container button {
  padding: 10px 30px;
  border-radius: 10px;
  border: none;
}
#book-container input {
  border-radius: 10px;
  padding: 10px 60px;
}
#book-container textarea {
  max-height: 150px;
  min-height: 150px;
  min-width: 600px;
  max-width: 600px;
  border-radius: 10px;
  padding: 30px;
  overflow: scroll;
}

#checkbox-design {
  display: flex;
  width: 40%;
  text-align: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
#checkbox-design label {
  border-radius: 5px;
  padding: 1px;
}

#book-form-closer {
  position: absolute;
  font-size: 30px;
  top: 50px;
  right: 70px;
  color: white;
  cursor: pointer;
  transition: transform ease 0.4s;
}

#book-form-closer:active {
  transform: rotate(-180deg);
}

.dashboard-books-main {
  position: relative;
  text-align: center;
}

.books-main-container {
  padding-top: 100px;
  width: 100%;
}

.textarea-book-add-design {
  display: flex;
  width: 70%;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.textarea-book-add-design label {
  width: 100%;
}

.input-book-add-design {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#book-add-form input {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

#genre-header {
  width: 100%;
  font-size: 20px;
  color: white;
}

#input-design-add-book {
  display: flex;
  width: 80%;
  justify-content: space-around;
  margin: 0 auto;
}

#submit-new-book {
  width: 15%;
  margin: 20px auto;
}

#booksimg {
  width: 200px;
}

#booksimg-topsell {
  width: 200px;
}

#booksauth {
  width: 200px;
}

#radio-input-book-add-design {
  line-height: 30px;
  margin-top: 30px;
}

footer {
  background-color: #C8C8C8;
}
footer a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
footer p {
  font-weight: bold;
}

.footer-items {
  padding: 40px;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.footer-about-us {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.footer-locations {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.footer-social-media a:nth-child(2) {
  margin-top: 10px;
  background-color: #3b5998;
  font-size: 20px;
  border-radius: 60px;
  width: 40px;
  height: 40px;
  padding: 10px;
  color: white;
  margin-right: 10px;
}
.footer-social-media a:nth-child(3) {
  background-image: linear-gradient(#405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80);
  font-size: 20px;
  border-radius: 60px;
  width: 40px;
  height: 40px;
  padding: 10px;
  color: white;
  margin-right: 10px;
}
.footer-social-media a:nth-child(4) {
  background-color: rgb(255, 254, 254);
  font-size: 20px;
  border-radius: 60px;
  width: 40px;
  height: 40px;
  padding: 10px;
  color: rgb(11, 129, 238);
}

.all-rights {
  text-align: center;
  padding: 10px 0;
  color: #565656;
}

#login-menu {
  position: absolute;
  top: 15%;
  left: 40%;
  z-index: 9999;
  position: fixed;
}
#login-menu input {
  padding: 20px;
}

#logclose-btn {
  z-index: 99;
  position: absolute;
  right: 20px;
  top: 20px;
  transition: transform 0.3s;
  cursor: pointer;
}

#logclose-btn:active {
  transform: rotate(-180deg);
}

.form-structor {
  background-color: #222;
  border-radius: 15px;
  height: 550px;
  width: 350px;
  position: relative;
  overflow: hidden;
}
.form-structor::after {
  content: "";
  opacity: 0.8;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 500px;
  background-image: url("https://images.unsplash.com/photo-1503602642458-232111445657?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bf884ad570b50659c5fa2dc2cfb20ecf&auto=format&fit=crop&w=1000&q=100");
}
.form-structor .signup {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  width: 65%;
  z-index: 5;
  -webkit-transition: all 0.3s ease;
}
.form-structor .signup.slide-up {
  top: 5%;
  -webkit-transform: translate(-50%, 0%);
  -webkit-transition: all 0.3s ease;
}
.form-structor .signup.slide-up .form-holder, .form-structor .signup.slide-up .submit-btn {
  opacity: 0;
  visibility: hidden;
}
.form-structor .signup.slide-up .form-title {
  font-size: 1em;
  cursor: pointer;
}
.form-structor .signup.slide-up .form-title span {
  margin-right: 5px;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.3s ease;
}
.form-structor .signup .form-title {
  color: #fff;
  font-size: 1.7em;
  text-align: center;
}
.form-structor .signup .form-title span {
  color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
}
.form-structor .signup .form-holder {
  border-radius: 15px;
  background-color: #fff;
  overflow: hidden;
  margin-top: 50px;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.3s ease;
}
.form-structor .signup .form-holder .input {
  border: 0;
  outline: none;
  box-shadow: none;
  display: block;
  height: 30px;
  line-height: 30px;
  padding: 8px 15px;
  border-bottom: 1px solid #eee;
  width: 100%;
  font-size: 12px;
}
.form-structor .signup .form-holder .input:last-child {
  border-bottom: 0;
}
.form-structor .signup .form-holder .input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}
.form-structor .signup .submit-btn {
  background-color: rgba(0, 0, 0, 0.4);
  color: rgba(255, 255, 255, 0.7);
  border: 0;
  border-radius: 15px;
  display: block;
  margin: 15px auto;
  padding: 15px 45px;
  width: 100%;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.3s ease;
}
.form-structor .signup .submit-btn:hover {
  transition: all 0.3s ease;
  background-color: rgba(0, 0, 0, 0.8);
}
.form-structor .login {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 5;
  -webkit-transition: all 0.3s ease;
}
.form-structor .login::before {
  content: "";
  position: absolute;
  left: 50%;
  top: -20px;
  -webkit-transform: translate(-50%, 0);
  background-color: #fff;
  width: 200%;
  height: 250px;
  border-radius: 50%;
  z-index: 4;
  -webkit-transition: all 0.3s ease;
}
.form-structor .login .center {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  width: 65%;
  z-index: 5;
  -webkit-transition: all 0.3s ease;
}
.form-structor .login .center .form-title {
  color: #000;
  font-size: 1.7em;
  text-align: center;
}
.form-structor .login .center .form-title span {
  color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
}
.form-structor .login .center .form-holder {
  border-radius: 15px;
  background-color: #fff;
  border: 1px solid #eee;
  overflow: hidden;
  margin-top: 50px;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.3s ease;
}
.form-structor .login .center .form-holder .input {
  border: 0;
  outline: none;
  box-shadow: none;
  display: block;
  height: 30px;
  line-height: 30px;
  padding: 8px 15px;
  border-bottom: 1px solid #eee;
  width: 100%;
  font-size: 12px;
}
.form-structor .login .center .form-holder .input:last-child {
  border-bottom: 0;
}
.form-structor .login .center .form-holder .input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}
.form-structor .login .center .submit-btn {
  background-color: #6B92A4;
  color: rgba(255, 255, 255, 0.7);
  border: 0;
  border-radius: 15px;
  display: block;
  margin: 15px auto;
  padding: 15px 45px;
  width: 100%;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.3s ease;
}
.form-structor .login .center .submit-btn:hover {
  transition: all 0.3s ease;
  background-color: rgba(0, 0, 0, 0.8);
}
.form-structor .login.slide-up {
  top: 90%;
  -webkit-transition: all 0.3s ease;
}
.form-structor .login.slide-up .center {
  top: 10%;
  -webkit-transform: translate(-50%, 0%);
  -webkit-transition: all 0.3s ease;
}
.form-structor .login.slide-up .form-holder, .form-structor .login.slide-up .submit-btn {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
}
.form-structor .login.slide-up .form-title {
  font-size: 1em;
  margin: 0;
  padding: 0;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
}
.form-structor .login.slide-up .form-title span {
  margin-right: 5px;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.3s ease;
}

.head-book-img {
  width: 175px;
  height: 250px;
  box-shadow: -1.3rem -1.3rem 0rem rgb(5, 5, 5);
}

.card:not(:first-child) {
  margin-left: -50px;
}

.card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.card:hover ~ .card {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}

.title {
  color: white;
  font-weight: 300;
  position: absolute;
  left: 20px;
  top: 15px;
}

.bar {
  position: absolute;
  top: 100px;
  left: 20px;
  height: 5px;
  width: 150px;
}

.card:hover .filledbar {
  width: 120px;
  transition: 0.4s ease-out;
}

svg {
  fill: #17141d;
  stroke-width: 2px;
}

.card:hover .stroke {
  stroke-dashoffset: 100;
  transition: 0.6s ease-out;
}

.header-book {
  width: 60%;
  padding: 100px;
  font-size: 130%;
  color: #29323a;
  text-shadow: 5px 5px 25px;
  text-align: center;
}

.main-page-header {
  display: flex;
  justify-content: space-between;
  width: 90%;
  background-color: red;
  margin: auto;
}

.main-body {
  width: 100%;
  margin-bottom: 100px;
}

.top-header {
  width: 100%;
  text-align: center;
  margin: 40px;
  font-size: 30px;
}

.main-body-container {
  padding-top: 100px;
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
}

.book-modal {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 500px;
  background: linear-gradient(90deg, rgb(255, 253, 253) 0%, rgb(223, 226, 226) 44%, rgb(132, 134, 135) 50%, rgb(244, 244, 244) 90%);
  border-radius: 0px 20px;
  box-shadow: 1px 4px 20px 3px rgba(0, 0, 0, 0.86);
  -webkit-box-shadow: 1px 4px 20px 3px rgba(0, 0, 0, 0.86);
  -moz-box-shadow: 1px 4px 20px 3px rgba(0, 0, 0, 0.86);
  position: fixed;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  border: 2px solid rgb(0, 0, 0);
  transition: left 0.4s;
}
.book-modal p:first-child {
  font-weight: 700;
}

.book-modal-container {
  z-index: 9999;
  padding: 20px 0px;
}
.book-modal-container div {
  width: 75%;
  padding: 20px;
  float: right;
}

#book-modal-img {
  width: 230px;
  height: 350px;
  -o-object-fit: fill;
     object-fit: fill;
  margin-top: 60px;
  position: absolute;
  border: 1.5px solid black;
  top: 50%;
  left: -50px;
  border-radius: 20px 0;
  box-shadow: 1px 4px 20px 3px rgba(0, 0, 0, 0.86);
  -webkit-box-shadow: 1px 4px 20px 3px rgba(0, 0, 0, 0.86);
  -moz-box-shadow: 1px 4px 20px 3px rgba(0, 0, 0, 0.86);
  top: 0;
}

#book-modal-closebtn {
  position: absolute;
  color: rgb(0, 0, 0);
  right: 20px;
  top: 20px;
  font-size: 26px;
  transition: transform 0.3s;
  cursor: pointer;
  z-index: 9999;
}

#book-modal-closebtn:active {
  transform: rotate(180deg);
}

#main-book-img {
  width: 180px;
  height: 250px;
  -o-object-fit: fill;
     object-fit: fill;
  box-shadow: -1px 0px 10px;
  transition: transform 0.4s;
  cursor: pointer;
}

#main-book-img:hover {
  transform: scale(1.02);
}

.book-right {
  padding: 20px;
}
.book-right p {
  color: #8a8989;
}

.images-leaning {
  padding-top: 20px;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  min-width: 800px;
  margin: 10em auto 0;
  min-height: 480px;
  position: relative;
  background-repeat: no-repeat;
  background-image: linear-gradient(352deg, transparent 45.2%, #bbb 45.5%, #bbb 45.6%, #ccc 45.8%, #eee 60%), linear-gradient(30deg, #ccc, #eee 90%);
  background-size: 100% 32.4em;
  background-position: 50% 100%;
  box-shadow: 2px 10px 6px -4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 10px 6px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 10px 6px -4px rgba(0, 0, 0, 0.75);
}
.images-leaning h2 {
  font-size: 30px;
  line-height: 10px;
  font-weight: bolder;
  text-transform: uppercase;
}

.images-leaning > div {
  width: 250px;
  position: absolute;
  left: 50%;
  bottom: 7.8em;
  z-index: 0;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.images-leaning > div:before {
  content: "";
  width: 60%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 7%;
  z-index: 1;
  background-repeat: no-repeat;
  background-image: linear-gradient(120deg, transparent 42%, rgba(0, 0, 0, 0.15) 45%, rgba(0, 0, 0, 0.35) 65%), linear-gradient(20deg, transparent 38%, rgba(0, 0, 0, 0.25) 45%, rgba(0, 0, 0, 0.23) 55%, rgba(0, 0, 0, 0.13) 75%), radial-gradient(ellipse at 50% 100%, rgba(0, 0, 0, 0.15) 3%, transparent 40%);
  transform: rotate(-8deg);
}

.images-leaning > div:after {
  content: "";
  width: 60%;
  height: 100%;
  position: absolute;
  z-index: 3;
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.3), transparent 70%), linear-gradient(45deg, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0.3) 80%);
  transform: perspective(20em) rotateY(1deg) rotateZ(-5deg) skewY(-2deg) skewX(-1deg) scaleX(var(--resize));
}

.images-leaning > div > img {
  width: 60%;
  height: 100%;
  display: block;
  position: relative;
  z-index: 2;
  border-left: 0.2em solid;
  -o-border-image: linear-gradient(105deg, transparent 0.5%, #aaa 0.7%) 1;
  border-image: linear-gradient(105deg, transparent 0.5%, #aaa 0.7%) 1;
  box-shadow: 0.1em 0.2em 0 -0.1em #666;
  filter: saturate(90%);
  transform: perspective(20em) rotateY(1deg) rotateZ(-5deg) skewY(-2deg) skewX(-1deg) scaleX(var(--resize));
}

.images-leaning > div:nth-of-type(4) {
  --resize: 0.99;
  margin-left: -40.4em;
}

.images-leaning > div:nth-of-type(4):before {
  background-size: 100% 85%, 100% 15%, 100% 10%;
  background-position: 0.1em 0, 0 100%, -3em 83%;
}

.images-leaning > div:nth-of-type(3) {
  --resize: 0.96;
  margin-left: -15.3em;
  transform: scaleY(0.98) translate(-8em, -2.1em);
}

.images-leaning > div:nth-of-type(3):before {
  background-size: 100% 84%, 100% 16%, 100% 10%;
  background-position: 0.4em 0, 0 100%, -3em 81%;
}

.images-leaning > div:nth-of-type(2) {
  --resize: 0.925;
  margin-left: 10em;
  transform: scaleY(0.965) translate(-17em, -4.2em);
}

.images-leaning > div:nth-of-type(2):before {
  background-size: 100% 83%, 100% 17%, 100% 10%;
  background-position: 0.6em 0, 0.1em 100%, -3em 81%;
}

.images-leaning > div:nth-of-type(1) {
  --resize: 0.895;
  margin-left: 35.2em;
  transform: scaleY(0.94) translate(-26.6em, -6.2em);
}

.images-leaning > div:nth-of-type(1):before {
  background-size: 100% 82%, 100% 18%, 100% 10%;
  background-position: 0.8em 0, 0.1em 100%, -3em 80%;
}

#auth-img {
  width: 146.96px;
  height: 198.85px;
  -o-object-fit: cover;
     object-fit: cover;
}

:root {
  /* colors */
  --body-bg: #fafafa;
  --page-bg: #f5f5f5;
  --dark-text: #2a2935;
  /* spacing */
  /* this is what defines the global scale */
  --baseline: 12px;
  /* fonts */
  --book-title: "Tulpen One", sans-serif;
  --title: "Cormorant Garamond", serif;
  --body: "Cormorant Garamond", serif;
  --base-size: var(--baseline) * 1.2;
}

.cover {
  width: calc(var(--baseline) * 60);
  height: calc(var(--baseline) * 42.6);
}

.book {
  width: 100%;
  display: flex;
  perspective: 1200px;
}

.book__page {
  position: relative;
  width: 50%;
  height: 100%;
  display: grid;
  transform: rotateY(0deg);
  transition: transform 0.9s cubic-bezier(0.645, 0.045, 0.355, 1);
  transform-origin: 0% 0%;
  background-color: var(--page-bg);
  background-image: linear-gradient(90deg, #e3e3e3 0%, rgba(247, 247, 247, 0) 18%);
}

.book__page:nth-of-type(1) {
  background-image: linear-gradient(-90deg, #e3e3e3 0%, rgba(247, 247, 247, 0) 18%);
}

.book__page--1 {
  cursor: pointer;
  overflow: hidden;
}

.book__page--1 img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.book__page--2 {
  position: absolute;
  right: 0;
  pointer-events: none;
  transform-style: preserve-3d;
  background-color: var(--page-bg);
  background-image: linear-gradient(90deg, #e3e3e3 0%, rgba(247, 247, 247, 0) 18%);
}

.book__page--4 {
  cursor: pointer;
  padding: 0 calc(var(--baseline) * 3);
}

.book__page-front {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotateY(0deg) translateZ(1px);
}

.book__page-back {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0 calc(var(--baseline) * 1.8);
  transform: rotateY(180deg) translateZ(1px);
}

.book__page .page__content {
  padding: var(--baseline);
  height: 100%;
  position: relative;
  text-align: center;
}

.book__page .page__content-book-title {
  font-family: var(--book-title);
  font-size: calc(var(--base-size) * 3);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: var(--dark-text);
  margin-top: calc(var(--baseline) * 5);
  margin-bottom: calc(var(--baseline) * 2);
}

.book__page .page__content-author {
  font-family: var(--title);
  font-size: calc(var(--base-size) * 1.2);
  font-weight: 100;
  text-transform: uppercase;
  color: var(--dark-text);
  border-top: 1px solid var(--dark-text);
  border-bottom: 1px solid var(--dark-text);
  display: inline-block;
  padding: calc(var(--baseline) / 2) calc(var(--baseline) / 5);
  margin-bottom: calc(var(--baseline) * 6);
}

.book__page .page__content-credits {
  font-family: var(--title);
  text-transform: uppercase;
  font-size: calc(var(--base-size) * 0.8);
  margin-bottom: calc(var(--baseline) * 2);
  letter-spacing: 1px;
}

.book__page .page__content-credits span {
  display: block;
  font-size: calc(var(--base-size) * 1.2);
  letter-spacing: 0;
}

.book__page .page__content-copyright {
  position: absolute;
  width: calc(100% - var(--baseline) * 2);
  bottom: calc(var(--baseline) * 2);
  font-family: var(--title);
  font-size: calc(var(--base-size) * 0.8);
  text-transform: uppercase;
}

.book__page .page__content-title {
  font-family: var(--title);
  font-size: calc(var(--base-size) * 1);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: calc(var(--baseline) * 5);
  margin-bottom: calc(var(--baseline) * 3);
}

.book__page .page__content-table {
  width: 100%;
  margin-top: calc(var(--baseline) * 2);
}

.book__page .page__content-table td {
  font-family: var(--title);
  font-size: calc(var(--base-size) * 1);
  padding-bottom: calc(var(--baseline) * 1.5);
  text-transform: uppercase;
}

.book__page .page__content-blockquote {
  margin-bottom: calc(var(--baseline) * 2);
}

.book__page .page__content-blockquote-text {
  font-family: var(--title);
  font-size: calc(var(--base-size) * 0.67);
  font-style: italic;
  text-align: justify;
}

.book__page .page__content-blockquote-reference {
  font-family: var(--title);
  font-size: calc(var(--base-size) * 0.7);
  margin-top: calc(var(--baseline) * 0.3);
  float: right;
  text-transform: uppercase;
}

.book__page .page__content-text {
  font-family: var(--title);
  font-size: calc(var(--base-size) * 0.67);
  text-align: justify;
  text-indent: var(--baseline);
}

.book__page .page__number {
  position: absolute;
  bottom: var(--baseline);
  width: calc(100% - var(--baseline) * 2);
  font-family: var(--title);
  font-size: calc(var(--base-size) * 0.67);
  text-align: center;
}

.book input[type=radio] {
  display: none;
}

.book input[type=radio]:checked + .book__page {
  transition: transform 0.9s cubic-bezier(0.645, 0.045, 0.355, 1);
  transform: rotateY(-180deg);
}

.books-main {
  padding-top: 100px;
  text-align: center;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  margin: auto;
}
.books-main p {
  font-size: 30px;
}

#books-container {
  width: 75%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin: 0 auto;
  justify-content: space-between;
  padding-bottom: 100px;
}

.book {
  max-width: 500px;
  max-height: 300px;
}
.book img {
  width: 250px;
  -o-object-fit: fill;
     object-fit: fill;
}

#changebtnleft {
  background-color: transparent;
  border: none;
  z-index: 99;
  width: 250px;
  height: 300px;
  position: absolute;
  cursor: pointer;
}

#changebtnright {
  border: none;
  background-color: transparent;
  z-index: 99;
  width: 250px;
  height: 300px;
  right: 0;
  position: absolute;
  cursor: pointer;
}

.page__content {
  overflow: hidden;
  color: black;
}
.page__content p {
  font-size: 14px;
}

.loader,
.loader-author,
.loader-books-page,
.loader-dashboard {
  position: absolute;
  width: 100%;
  height: 150vh;
  background: rgb(239, 237, 237) 45.8%;
  z-index: 9999;
  display: block;
  position: fixed;
}

.bookshelf_wrapper {
  position: absolute;
  top: 35%;
  left: 50%;
  z-index: 99;
  transform: translate(-50%, -50%);
}

.books_list {
  margin: 0 auto;
  width: 300px;
  padding: 0;
}

.book_item {
  position: absolute;
  top: -120px;
  box-sizing: border-box;
  list-style: none;
  width: 40px;
  height: 120px;
  opacity: 0;
  background-color: #1e6cc7;
  border: 5px solid white;
  transform-origin: bottom left;
  transform: translateX(300px);
  -webkit-animation: travel 2500ms linear infinite;
          animation: travel 2500ms linear infinite;
}
.book_item.first {
  top: -140px;
  height: 140px;
}
.book_item.first:before, .book_item.first:after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: white;
}
.book_item.first:after {
  top: initial;
  bottom: 10px;
}
.book_item.second:before, .book_item.second:after, .book_item.fifth:before, .book_item.fifth:after {
  box-sizing: border-box;
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 17.5px;
  border-top: 5px solid white;
  border-bottom: 5px solid white;
}
.book_item.second:after, .book_item.fifth:after {
  top: initial;
  bottom: 10px;
}
.book_item.third:before, .book_item.third:after {
  box-sizing: border-box;
  content: "";
  position: absolute;
  top: 10px;
  left: 9px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 5px solid white;
}
.book_item.third:after {
  top: initial;
  bottom: 10px;
}
.book_item.fourth {
  top: -130px;
  height: 130px;
}
.book_item.fourth:before {
  box-sizing: border-box;
  content: "";
  position: absolute;
  top: 46px;
  left: 0;
  width: 100%;
  height: 17.5px;
  border-top: 5px solid white;
  border-bottom: 5px solid white;
}
.book_item.fifth {
  top: -100px;
  height: 100px;
}
.book_item.sixth {
  top: -140px;
  height: 140px;
}
.book_item.sixth:before {
  box-sizing: border-box;
  content: "";
  position: absolute;
  bottom: 31px;
  left: 0px;
  width: 100%;
  height: 5px;
  background-color: white;
}
.book_item.sixth:after {
  box-sizing: border-box;
  content: "";
  position: absolute;
  bottom: 10px;
  left: 9px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 5px solid white;
}
.book_item:nth-child(2) {
  -webkit-animation-delay: 416.6666666667ms;
          animation-delay: 416.6666666667ms;
}
.book_item:nth-child(3) {
  -webkit-animation-delay: 833.3333333333ms;
          animation-delay: 833.3333333333ms;
}
.book_item:nth-child(4) {
  -webkit-animation-delay: 1250ms;
          animation-delay: 1250ms;
}
.book_item:nth-child(5) {
  -webkit-animation-delay: 1666.6666666667ms;
          animation-delay: 1666.6666666667ms;
}
.book_item:nth-child(6) {
  -webkit-animation-delay: 2083.3333333333ms;
          animation-delay: 2083.3333333333ms;
}

.shelf {
  width: 300px;
  height: 5px;
  margin: 0 auto;
  background-color: #377dcc;
  position: relative;
}
.shelf:after {
  top: 400%;
  left: 7.5%;
}

@-webkit-keyframes move {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 10px;
  }
}

@keyframes move {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 10px;
  }
}
@-webkit-keyframes travel {
  0% {
    opacity: 0;
    transform: translateX(300px) rotateZ(0deg) scaleY(1);
  }
  6.5% {
    transform: translateX(279.5px) rotateZ(0deg) scaleY(1.1);
  }
  8.8% {
    transform: translateX(273.6px) rotateZ(0deg) scaleY(1);
  }
  10% {
    opacity: 1;
    transform: translateX(270px) rotateZ(0deg);
  }
  17.6% {
    transform: translateX(247.2px) rotateZ(-30deg);
  }
  45% {
    transform: translateX(165px) rotateZ(-30deg);
  }
  49.5% {
    transform: translateX(151.5px) rotateZ(-45deg);
  }
  61.5% {
    transform: translateX(115.5px) rotateZ(-45deg);
  }
  67% {
    transform: translateX(99px) rotateZ(-60deg);
  }
  76% {
    transform: translateX(72px) rotateZ(-60deg);
  }
  83.5% {
    opacity: 1;
    transform: translateX(49.5px) rotateZ(-90deg);
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translateX(0px) rotateZ(-90deg);
  }
}
@keyframes travel {
  0% {
    opacity: 0;
    transform: translateX(300px) rotateZ(0deg) scaleY(1);
  }
  6.5% {
    transform: translateX(279.5px) rotateZ(0deg) scaleY(1.1);
  }
  8.8% {
    transform: translateX(273.6px) rotateZ(0deg) scaleY(1);
  }
  10% {
    opacity: 1;
    transform: translateX(270px) rotateZ(0deg);
  }
  17.6% {
    transform: translateX(247.2px) rotateZ(-30deg);
  }
  45% {
    transform: translateX(165px) rotateZ(-30deg);
  }
  49.5% {
    transform: translateX(151.5px) rotateZ(-45deg);
  }
  61.5% {
    transform: translateX(115.5px) rotateZ(-45deg);
  }
  67% {
    transform: translateX(99px) rotateZ(-60deg);
  }
  76% {
    transform: translateX(72px) rotateZ(-60deg);
  }
  83.5% {
    opacity: 1;
    transform: translateX(49.5px) rotateZ(-90deg);
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translateX(0px) rotateZ(-90deg);
  }
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clear-fix:after {
  display: block;
  clear: both;
  content: "";
}

.img-responsive {
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#auth-modal {
  position: fixed;
  top: 50%;
  left: -50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(136, 136, 136) 33%, rgb(119, 119, 119) 65%, rgb(244, 244, 244) 100%);
  padding: 50px 20px;
  border-radius: 10px;
  height: 400px;
  border: 2px solid black;
  box-shadow: -1px -1px 30px 10px;
}
#auth-modal div {
  width: 70%;
  float: right;
}

.gg-close {
  position: absolute;
  right: 20px;
  top: 20px;
  transition: transform 0.3s;
  cursor: pointer;
  z-index: 99;
}

.gg-close:active {
  transform: rotate(180deg);
}

.card__collection {
  cursor: pointer;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  font-family: "Do Hyeon", sans-serif;
  overflow: hidden;
  padding-bottom: 100px;
}
.card__collection .cards {
  width: 200px;
  height: 280px;
  display: block;
  background-size: cover;
  float: left;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  background-position: center;
}
.card__collection .cards--one {
  backface-visiblility: hidden;
}
.card__collection .cards--one:hover:after {
  bottom: -20px;
}
.card__collection .cards--one:hover:before {
  bottom: -10px;
}
.card__collection .cards--one:hover .cards--one__rect {
  left: 45%;
}
.card__collection .cards--one:hover .cards--one__rect--back {
  left: 50%;
}
.card__collection .cards--one::after {
  content: "";
  display: block;
  position: absolute;
  height: 70px;
  transform: rotate(-3deg);
  background: #e660e3;
  position: absolute;
  bottom: -80px;
  left: 0;
  right: -10px;
  z-index: 9;
  transition: all 0.2s ease-in;
  transition-delay: 0.3s;
}
.card__collection .cards--one__rect {
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  background: #0f9bc0;
  width: 126px;
  height: 55px;
  transform: skewY(5deg);
  position: absolute;
  display: block;
  top: 60%;
  left: -45%;
  z-index: 1;
  line-height: 3.3rem;
  text-align: center;
  transition: all 0.2s ease-in;
}
.card__collection .cards--one__rect--back {
  display: block;
  background: rgba(34, 65, 154, 0.8);
  width: 126px;
  height: 55px;
  transform: skewY(7deg);
  position: absolute;
  top: 65%;
  left: -50%;
  transition: all 0.2s ease-in;
  transition-delay: 0.3s;
}
.card__collection .cards--one__rect p {
  transform: skewY(-7deg);
  position: relative;
}
.card__collection .cards--two {
  position: relative;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.card__collection .cards--two p {
  position: absolute;
  top: 83%;
  left: -100%;
  text-transform: capitalize;
  color: #fff;
  font-size: 20px;
  z-index: 8;
  transition: all 0.6s ease;
}
.card__collection .cards--two:hover p {
  left: 8%;
}
.card__collection .cards--two:hover img {
  transform: translateY(-15px);
}
.card__collection .cards--two:hover .cards--two__rect {
  top: 75%;
}
.card__collection .cards--two:hover .cards--two__rect:before {
  transform: translateY(15px);
}
.card__collection .cards--two:hover li {
  transform: translateY(0);
}
.card__collection .cards--two:hover .cards--two__tri {
  right: -40%;
}
.card__collection .cards--two:hover .cards--two__tri:before {
  right: -312px;
}
.card__collection .cards--two img {
  transition: all 0.2s ease;
}
.card__collection .cards--two__rect {
  width: 600px;
  height: 200px;
  background: rgb(0, 0, 0);
  display: block;
  position: absolute;
  top: 175%;
  left: -78%;
  transform: rotate(20deg);
  z-index: 5;
  opacity: 0.9;
  transition: all 0.3s ease-in-out;
}
.card__collection .cards--two__rect:before {
  content: "";
  display: block;
  width: 100%;
  position: relative;
  height: 100%;
  background: #615a5a;
  transform: translateY(200px);
  z-index: 2;
  transition: all 0.3s ease-in-out;
  transition-delay: 0.1s;
}
.card__collection .cards--two ul {
  list-style: none;
  position: absolute;
  bottom: 0;
  left: 10px;
  z-index: 9;
}
.card__collection .cards--two ul li {
  display: inline-block;
  font-size: 16px;
  margin: 7px;
  color: #fff;
  transition: all 0.2s ease-in-out;
  transform: translateY(100px);
}
.card__collection .cards--two ul li:nth-child(2) {
  transition-delay: 0.2s;
}
.card__collection .cards--two ul li:nth-child(3) {
  transition-delay: 0.3s;
}
.card__collection .cards--two ul li:nth-child(4) {
  transition-delay: 0.4s;
}
.card__collection .cards--three {
  position: relative;
  z-index: 10;
}
.card__collection .cards--three:hover .cards--three__rect-1 {
  left: 10%;
}
.card__collection .cards--three:hover .cards--three__rect-1 .shadow-1 {
  left: -20%;
}
.card__collection .cards--three:hover .cards--three__rect-2 {
  left: 60%;
}
.card__collection .cards--three:hover .cards--three__rect-2:before {
  left: -100%;
}
.card__collection .cards--three:hover .cards--three__rect-2:after {
  left: 80%;
}
.card__collection .cards--three:hover .cards--three__rect-2 .shadow-2 {
  left: -10%;
}
.card__collection .cards--three:hover .cards--three__circle {
  transform: scale(1);
}
.card__collection .cards--three:hover .cards--three__circle:before {
  transform: scale(0.9);
}
.card__collection .cards--three:hover .cards--three__list li {
  transform: translateX(0);
}
.card__collection .cards--three__rect-1 {
  background: #fff;
  width: 200px;
  height: 110px;
  transform: skewX(-20deg);
  display: block;
  position: absolute;
  top: 73%;
  opacity: 0.9;
  left: -100%;
  z-index: 8;
  transition: all 0.5s ease-in;
}
.card__collection .cards--three__rect-1 p {
  font-size: 20px;
  color: #fff;
  transform: skewX(20deg);
  line-height: 6rem;
}
.card__collection .cards--three__rect-1 .shadow-1 {
  background: #9b1308;
  width: 230px;
  height: 100px;
  display: block;
  position: absolute;
  left: -200%;
  z-index: -1;
  transition: all 0.3s ease-in;
}
.card__collection .cards--three__rect-2 {
  width: 100px;
  height: 70px;
  background: #fff;
  position: absolute;
  top: 65%;
  left: 1000%;
  opacity: 0.9;
  transform: skewX(-20deg);
  z-index: 8;
  transition: all 0.5s ease-in;
}
.card__collection .cards--three__rect-2::before {
  display: block;
  width: 50px;
  height: 40px;
  background: #57ccfd;
  opacity: 1;
  position: absolute;
  left: 500%;
  top: 10%;
  transition: all 0.3s ease-in;
}
.card__collection .cards--three__rect-2::after {
  content: "";
  display: block;
  width: 50px;
  height: 40px;
  background: #9b1308;
  opacity: 1;
  position: absolute;
  left: 500%;
  top: 114%;
  transition: all 0.5s ease-in;
  transition-delay: 0.2s;
}
.card__collection .cards--three__rect-2 .shadow-2 {
  background: #57ccfd;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: -10%;
  left: 500%;
  transition: all 0.5s ease-in;
  transition-delay: 0.2s;
}
.card__collection .cards--three__circle {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: -15%;
  left: 50%;
  opacity: 0.9;
  transform: scale(0);
  transition: all 0.3s ease;
}
.card__collection .cards--three__circle:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: #9b1308;
  border-radius: 50%;
  transform: scale(0);
  transition: all 0.3s ease;
  transition-delay: 0.2s;
}
.card__collection .cards--three__list {
  list-style: none;
  position: absolute;
  top: -9px;
  right: 7px;
  padding-top: 60px;
  transition: all 0.4s ease;
}
.card__collection .cards--three__list li {
  display: inline-block;
  margin: 4px;
  color: #fff;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: rgba(87, 204, 253, 0.9);
  text-align: center;
  line-height: 1.7rem;
  font-size: 12px;
  transition: all 0.3s ease;
  transform: translateX(500%);
}
.card__collection .cards--three__list li:nth-child(1) {
  transition-delay: 0.2s;
}
.card__collection .cards--three__list li:nth-child(2) {
  transition-delay: 0.3s;
}
.card__collection .cards--three__list li:nth-child(3) {
  transition-delay: 0.4s;
}

.books-container {
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 600px;
}

@-webkit-keyframes initAnimation {
  0% {
    transform: rotateY(-28deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

@keyframes initAnimation {
  0% {
    transform: rotateY(-28deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
.books {
  width: 200px;
  height: 300px;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  transition: 1s ease;
  -webkit-animation: 1s ease 0s 1 initAnimation;
          animation: 1s ease 0s 1 initAnimation;
  cursor: pointer;
}

.books:hover {
  transform: rotateY(-28deg);
}

.books > :first-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: red;
  width: 200px;
  height: 300px;
  transform: translateZ(25px);
  background-color: #01060f;
  border-radius: 0 2px 2px 0;
  box-shadow: 5px 5px 20px #666;
}

.books::before {
  position: absolute;
  content: " ";
  background-color: blue;
  left: 0;
  top: 3px;
  width: 48px;
  height: 294px;
  transform: translateX(172px) rotateY(90deg);
  background: linear-gradient(90deg, #fff 0%, #f9f9f9 5%, #fff 10%, #f9f9f9 15%, #fff 20%, #f9f9f9 25%, #fff 30%, #f9f9f9 35%, #fff 40%, #f9f9f9 45%, #fff 50%, #f9f9f9 55%, #fff 60%, #f9f9f9 65%, #fff 70%, #f9f9f9 75%, #fff 80%, #f9f9f9 85%, #fff 90%, #f9f9f9 95%, #fff 100%);
}

.books::after {
  position: absolute;
  top: 0;
  left: 0;
  content: " ";
  width: 200px;
  height: 300px;
  transform: translateZ(-25px);
  background-color: #01060f;
  border-radius: 0 2px 2px 0;
  box-shadow: -10px 0 50px 10px #666;
}

@media (max-width: 1400px) {
  .main-page-header {
    width: 100%;
    flex-direction: column;
    margin: auto;
  }
  .main-page-header h1 {
    font-size: 32px;
  }
  .container {
    margin: auto;
  }
  .header-book {
    width: 80%;
    margin: auto;
  }
  .main-body-container {
    width: 70%;
    gap: 60px;
    flex-wrap: wrap;
  }
  .card__collection {
    width: 80%;
    margin: auto;
  }
  #books-container {
    width: 85%;
  }
}
@media (max-width: 1240px) {
  #books-container {
    width: 50%;
    margin: 0 auto;
  }
  .book {
    max-width: inherit;
    margin: 0 auto;
  }
}
.main-header {
  background: url(https://kits.moxcreative.com/bookarazi/wp-content/uploads/sites/13/2022/05/reading-a-book-1.jpg);
  background-position: 0px -140px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 870px;
  position: relative;
  display: flex;
  justify-content: center;
  gap: 20px;
}

#head-seebtn {
  position: absolute;
  top: 75%;
  left: 15%;
  background-color: rgb(254, 19, 19);
  padding: 10px 30px;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
  border-color: transparent;
}

.slogan-txt {
  width: 40%;
  position: absolute;
  top: 20%;
  left: 5%;
  color: white;
}
.slogan-txt h2 {
  font-size: 70px;
}

.head-info {
  width: 290px;
  height: 90px;
  background-color: rgb(255, 255, 255);
  margin-top: 700px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.head-info div:nth-child(2) {
  width: 160px;
}

.section2 {
  width: 100%;
}

.section2-container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  margin-top: 80px;
  display: flex;
  justify-content: center;
  gap: 20px;
  border-bottom: 1.5px solid gray;
  padding-bottom: 60px;
}

.new-rel,
.pre-order,
.best-seller {
  position: relative;
  width: 400px;
  height: 280px;
  border-radius: 25px;
  line-height: 30px;
  padding-top: 50px;
  padding-inline: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: hidden;
}
.new-rel button,
.pre-order button,
.best-seller button {
  width: 150px;
  height: 55px;
  margin-bottom: 20px;
  border-radius: 50px;
  background: transparent;
  color: white;
  border-color: white;
  cursor: pointer;
}
.new-rel button:hover,
.pre-order button:hover,
.best-seller button:hover {
  background-color: white;
  color: black;
}

.img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.img img {
  height: 320px;
  filter: contrast(75%);
}

.discover-items {
  width: 300px;
  height: 420px;
}
.discover-items img {
  margin: 8px;
}

.book-info {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.book-info button {
  width: 110px;
  height: 45px;
  border-radius: 20px;
  color: red;
  background-color: transparent;
  border-color: red;
  margin-top: 10px;
  cursor: pointer;
  text-transform: uppercase;
}
.book-info p {
  border-bottom: 2px solid red;
}
.book-info button:hover {
  background: black;
  color: white;
  border-color: black;
}

.fa-star-o:hover {
  background: rgb(255, 255, 0);
  cursor: pointer;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}/*# sourceMappingURL=style.css.map */